<div class="row">
  <h5 class="right">Data yang perlu dikonfirmasi</h5>
</div>

<br><br>

<div class="row">
  <mat-accordion #filterEmployee="matAccordion">
    <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col s4">
          <p>Karyawan</p>
          <filter-karyawan></filter-karyawan>
        </div>
      </div>

      <div class="row">
        <div class="col s3">
          <p>Peserta BPJS Ketenagakerjaan</p>
        </div>
        <div class="col s2">
          <mat-form-field>
            <select matNativeControl required>
              <option value="1">Ya</option>
              <option value="2">Tidak</option>
              <option value="3">Semua</option>
            </select>
          </mat-form-field>
        </div>
        <div class="col s1"></div>
        <div class="col s2">
          <p>NPP BPJS TK</p>
        </div>
        <div class="col s2">
          <mat-form-field>
            <select matNativeControl required>
              <option value="1">Ya</option>
              <option value="2">Tidak</option>
              <option value="3">Semua</option>
            </select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s3">
          <p>Peserta BPJS Kesehatan</p>
        </div>
        <div class="col s2">
          <mat-form-field>
            <select matNativeControl required>
              <option value="1">Ya</option>
              <option value="2">Tidak</option>
              <option value="3">Semua</option>
            </select>
          </mat-form-field>
        </div>
        <div class="col s1"></div>
        <div class="col s2">
          <p>NPP BPJS Kes</p>
        </div>
        <div class="col s2">
          <mat-form-field>
            <select matNativeControl required>
              <option value="1">Ya</option>
              <option value="2">Tidak</option>
              <option value="3">Semua</option>
            </select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <button class="btn btn-small" (click)="filter()">Cari</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<table class="highlight centered">
  <thead>
    <tr style="border-top: 1px solid #d0d0d0">
      <th rowspan="2">Karyawan</th>
      <th colspan="2">BPJS Ketenagakerjaan</th>
      <th colspan="2">BPJS Kesehatan</th>
      <th rowspan="2">Kesehatan</th>
    </tr>
    <tr>
      <th>Peserta</th>
      <th>NPP</th>
      <th>Peserta</th>
      <th>NPP</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ds of listEmpBpjs">
      <td>{{ds.employeeName}}</td>
      <td><i class="material-icons" *ngIf="ds.bpjsTkFlag">check</i></td>
      <td>{{ds.nppBpjsTkName}}</td>
      <td><i class="material-icons" *ngIf="ds.bpjsKesFlag">check</i></td>
      <td>{{ds.nppBpjsKesName}}</td>
      <td class="row">
        <div class="col s6" *ngIf="!(ds.bpjsKesFlag && ds.bpjsTkFlag)">
          <button class="btn col s12">daftar</button>
        </div>
        <div class="col s6" [ngClass]="{'offset-s6': (ds.bpjsKesFlag && ds.bpjsTkFlag)}" *ngIf="ds.bpjsKesFlag || ds.bpjsTkFlag">
          <button class="btn col s12">ubah</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>