<mat-form-field>
  <mat-select placeholder="Karyawan">
    <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
    <mat-option>
      <ngx-mat-select-search [formControl]="listEmployeeFilteringCtrl" [searching]="searching" [placeholderLabel]="Karyawan"></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let employee of filteredEmployee | async" [value]="employee">
      {{employee.employeeName}}
    </mat-option>
  </mat-select>
</mat-form-field>